#dinemain {
	background: #ffffff url(../images/bk_default2.jpg) 0px 175px no-repeat;		
}

#dinemain .page-title {
	left: 60px;
	top: 130px;
	width: 328px;
	height: 66px;
	z-index: 1;
	text-align: center;
	letter-spacing: 1px;
	color: #F0F4F5;
	line-height: 72px;
	/*background: url('../images/menubar_highlight.png') no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
	background-size: cover;
	background-color: #56a2d6;
	border-top-left-radius: 220px 26px;
	border-top-right-radius: 220px 26px;
	font-weight: 500;

}

#dinemain #header {
	width: 100%;
	height: 179px;
	position: absolute;
	background: url(../images/bk_secondary_gradient.png) top left no-repeat;
}

#dinemain #header #heading1 {
	height: 100px;
	top: 75px;
	left: 436px;
	position: absolute;
	display: inline-block;
	float: left;
}

#dinemain #header #heading1 p {
	color: #45466D;
}

#dinemain #header #heading2 {
	width: 330px;
	height: 56px;
	top: 196px;
	left: 53px;
	position: absolute;
	float: left;
	z-index: 1;
	border: 4px solid rgba(101,183,36,1.00);
	background: -webkit-linear-gradient(#356287, #113663);
	box-shadow: 1px 4px 8px 0px #353535;
	/*background-color: rgba(17,45,122,1.00);*/
}	

#dinemain #header #heading2 p {
	color: #F0F4F5;
	text-align: center;
	font-size: 28px;
	padding-top: 14px;
}

#dinemain #content {
	width: 100%;
	height: 540px;
	top: 178px;
	position: absolute;
	left: 1px;
}

#dinemain #menu {
	width: 100%;
	height: 100%;
}

#dinemain #menu .major {
	position: absolute;
	width: 328px;
	height: 442px;
	left: 58px;
	top: 85px;
	padding: 10px 0 0 0;
	background-color: rgba(19,56,101, 0.50);
	overflow-y: auto;    
	overflow-x: hidden;
}

#dinemain #menu .major a {
	position: relative;
	display: block;
	height: 32px;
	margin: 0;
	padding: 10px 5px 5px 5px;
	text-align: left;
	font-size: 28px;
	font-weight: 400;
	letter-spacing: 1px;
	overflow: hidden;
}

#dinemain #menu .major a.vieworder-button,
#dinemain #menu .major a.exitdine-button {
	/*  position: absolute;
	width: 292px;*/
	font-size: 26px;
	top: 0px;
	color: rgba(189,239,254,1.00);
	text-align: center;
	margin-bottom: 10px;
	background-color: rgba(18,56,100,1.00);
}

#dinemain #menu .major a.vieworder-button.disabled {
    color: #ababab;
}

#dinemain #menu .major a.selected {
	background: #309b20;
}

#dinemain #menu .minor {
	position: absolute;
	width: 850px;
	height: 369px;
	top: 25px;
	left: 390px;
}

#dinemain #menu .minor .sub-image1{
	display: inline-block;
	position: absolute;	
	float: right;
	width: 260px;
	padding-top: 5px;
	padding-left: 0px;
	right: 1px;
	margin-top: 32px;
	margin-right: 162px;
}

#dinemain #menu .minor .arrow-button {
	display: block;
	position: absolute;
	width: 60px;
	height: 60px;
	top: 404px;
	border-radius: 30px;
	margin: 0;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.2);
}

#dinemain #menu .minor .arrow-button.sub-page-prev {	
	left: -20px;
}

#dinemain #menu .minor .arrow-button.sub-page-next {
	right: 30px;
}

#dinemain #menu .minor .arrow-button:hover {
	opacity: 1;
	cursor: pointer;
}

#dinemain #menu .minor .arrow-left {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -15px;
}

#dinemain #menu .minor .arrow-right {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -5px;
}


#dinemain #menu .minor .back-tab {
	position: absolute;
	display: none;
}

#dinemain #menu .minor .back-tab img {
	width: 90%;
	height: 90%;
	margin: 40px 0px 0px 25px;
}

#dinemain #menu .minor .menu-tab {
	position: absolute;
	display: none;
	width: 890px;
}

#dinemain #menu .minor .sub-page {
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
}

#dinemain #menu .minor .sub-header {
	margin-top: 0px;
	height: 30px;
	color: rgba(189,239,254,1.00);
	margin-left: 15px;
	font-size: 22px;
	/*color: #FFFF92;*/
}

#dinemain #menu .minor .sub-header p  {
	font-size: 23px;
}

#dinemain #menu .minor .sub-header  .col1{
	display: inline-block;	
	position: absolute;
	margin: 5px 0px 0px 5px;
	line-height: 25px;
}

#dinemain #menu .minor .sub-header  .col2 {		
	display: inline-block;
	position: absolute;
	margin: 5px 0px 0px 405px;
	line-height: 25px;
}

#dinemain #menu .minor .sub-footer {
	position: relative;
	height: 50px;
	color: #C0DDA3;
	text-align: center;
	top: 0px;
	left: -20px;
	text-shadow: 2px 2px 6px #000000;

}

#dinemain #menu .minor .sub-content {
    margin-top: 60px;
	height: 380px;
    overflow: hidden;
    position: relative;
}

#dinemain #menu .minor .sub-content p {
	margin-bottom: 15px;
	line-height: 32pt;	
}



#dinemain #menu .minor .sub-content {
	
}

#dinemain #menu .minor .sub-content .sub-text1.recipesactive{
	background-color: rgba(18,56,100,1.00);
}

#dinemain #menu .minor .sub-content .sub-text1{
  width: 450px;	 
}

#dinemain #menu .minor .sub-content .sub-text2{
	display: inline-block;
	width: 100%;
	padding-top: 100px;
}

#dinemain #menu .minor .sub-content .sub-text1 a {
	width: 450px;
	height: 32px;
	margin: 0;
	padding: 10px 5px 5px 15px;
	font-size: 28px;
	line-height: 32px;
	display: block;
	text-align: left;
	position: relative;
	color: rgba(255,255,255,1.00);
	overflow-y: hidden;    
	overflow-x: hidden;
	
}

#dinemain #menu .minor .sub-content .sub-text1  a span {
    float:right;
	width: 80px;
}

#dinemain #menu .minor .sub-content .sub-text1  a span.checkmark {
    float:left;
	width: 30px;
	padding-right: 10px;
	padding-bottom: 10px;
}

#dinemain #menu .minor .sub-content .sub-text1  a.ordered span.checkmark {
	background: url(../images/checkmark.png) center left no-repeat;
}

#dinemain #menu .minor .sub-content .sub-text1 a.selected {    
	background: url(../images/checkmark.png) top left no-repeat;
}

#dinemain #menu .minor .sub-content .sub-text1 a.selected.active {    
	background: url(../images/checkmark.png) top left no-repeat;
	background-color: rgba(211,96,18,1.00);
}

#dinemain #menu .minor .sub-content .sub-text1 a.selected {    
	background: url(../images/checkmark.png) top left no-repeat;
}

#dinemain #menu .minor .sub-content .sub-text1  a.active span.thisone{    
    background: #309b20 url(../images/thisone.png) -10px center no-repeat;  
}

#dinemain #menu .minor .sub-content .sub-text1  a span.thisone {        
	z-index: 700;	
	width: 40px;
}

#dinemain #menu .minor .sub-content .more	 {
	position: absolute;
	background: url(../images/more.png) bottom left no-repeat;
}

#dinemain #menu .minor .sub-nutrients   {
    background: #275384;
    color: #ffffff;
	display: none;	
	position: absolute;
	left: 450px;
	width: 290px;
    height: 362px;
	top: 83px;    
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	z-index: 1;
}

#dinemain #menu .minor .sub-nutrients p   {
    width: 100%;
    height: 120px;
    font-size: 26px;
    line-height: 30px;
    margin: 0px;
    margin-bottom: 5px;
    padding: 0px;
    display: block;
    position: relative;
    float: left;
}

#dinemain #menu .minor .sub-nutrients p.description   {
    width: 100%;
    height: 84px;
    font-size: 26px;
    font-weight: normal;
    line-height: 28px;
    overflow: hidden;
    margin: 0px;
    margin-bottom: 0px;
    padding: 0px;
    display: block;
    position: relative;
    float: left;
}

#dinemain #menu .minor .sub-nutrients p.price {
    color: #e9ef99;
    width: 100%;
    height: 42px;
    line-height: 42px;
	font-size: 26px;
    font-weight: normal;
    overflow: hidden;
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
    display: block;
    position: relative;
    float: left;
}



#dinemain #menu .minor .sub-nutrients p.nutrients {
    color: #ffffff;
    width: 100%;
    height: 192px;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    position: relative;
}	

#dinemain #menu .minor .sub-nutrients p.nutrients span    {
    height: 32px;
    line-height: 32px;
    font-size: 26px;
    display: block;
    position: relative;
    float: left;
}

#dinemain #menu .minor .sub-nutrients p.nutrients span.left   {
    width: 60%;
}

#dinemain #menu .minor .sub-nutrients p.nutrients span.right  {
    /*width: 35%;*/
    float: right;
    text-align: right;
}

#dinemain #menu .minor .sub-nutrients p.nutrients span.farright   {
    /*width: 35%;*/
    width: 35px;
    font-size: 20px;
    float: right;
    text-align: right;

}
