#dinesubmit {	
	z-index: 1000;
}

#dinesubmit #content {	
	background: url(../images/bk_hires_swedish_popup1_patientauthentication.png);
	text-align: center;
	font-size: 26px;
	line-height: 30px;
	margin: 0;	
	position: absolute;
	width: 100%;
	height: 100%;
	top: 30px;	
}


#dinesubmit #title   {
    width: 900px;
    height: 50px;
    margin: 150px auto auto 200px;    
    float: left;
    position: absolute;
}

 #dinesubmit #title p {
    width: 100%;
    color: #000000;
    margin-top: 10px;
    font-size: 32px;
    line-height: 32px;
    font-weight: 500;
    text-align: center;
}

#dinesubmit #buttons {
    width: 601px;
    height: 260px;
    margin: 485px auto auto 340px;
    display: inline-block;
    position: absolute;
    display: block;
}

#dinesubmit #buttons a {
	width: 575px;
    font-size: 30px;
	background: rgba(86,162,214,0.75);    
    color: #ffffff;
    border: none;
    margin-top: 10px;
    padding: 0px;
    float: left;
    line-height: 43px;
    font-weight: normal;
    padding-left: 25px;	
    margin-right: 0px;
    text-align: left;
    position: relative;
    display: block;

}

#dinesubmit #buttons a.no{
    width: 297px;
    margin-top: 35px;
    float: left;
	font-size: 26px;
    padding-left: 0px;
    text-align: center;

}

#dinesubmit #buttons a.yes{
    width: 297px;
    margin-top: 35px;
    float: right;
	font-size: 26px;
    padding-left: 0px;
    text-align: center;
}

#dinesubmit #buttons a.active        {    
    background: #2a8c1d;
}

#dinesubmit #message {
	width: 600px;
    height: 300px;
    margin: 220px auto auto 350px;    
    float: left;
    position: absolute;
    display: block;
}

#dinesubmit #message p   {
    width: 600px;
    height: 42px;
    color: #ffffff;
    font-size: 30px;
    margin-top: 0px;
    line-height: 42px;
    font-weight: 400;
    position: relative;
    text-align: center;
}
