#dineqtychange {	
	z-index: 1000;
}

#dineqtychange #content {	
	background: url(../images/bk_swedish_popup_error.png) top center no-repeat;
	text-align: center;
	font-size: 26px;
	line-height: 30px;
	margin: 0;	
	position: absolute;
	width: 100%;
	height: 100%;	
	margin: 200px 0px 0px 0px;
}


#dineqtychange #title   {
    width: 557px;
    height: 50px;
    margin: 150px auto auto 200px;    
    float: left;
    position: absolute;
}

 #dineqtychange #title p {
    width: 100%;
    color: #000000;
    margin-top: 10px;
    font-size: 32px;
    line-height: 32px;
    font-weight: 500;
    text-align: center;
	width: 
}

#dineqtychange #buttons {
	
    width: 575px;
    height: 260px;
    margin: 300px 0px 0px 386px;
    display: inline-block;
    position: absolute;
    display: block;
}

#dineqtychange #buttons a {
	width: 246px;
    font-size: 30px;
	background: rgba(34,77,122,0.75);
    color: #ffffff;
    float: left;
    font-size: 26px;
    line-height: 43px;
    font-weight: 300;
    text-align: center;
    position: relative;
    display: block;
}

#dineqtychange #buttons a.cancel{            
	margin-left: 10px;
}

#dineqtychange #buttons a.active        {    
    background: #2a8c1d;
}

#dineqtychange #message {
	width: 600px;
    height: 300px;
    margin: 45px auto auto 380px;    
    float: left;
    position: absolute;
    display: block;
}

#dineqtychange #message p   {
    width: 600px;
    height: 42px;
    color: #ffffff;
    font-size: 26px;
    margin-top: 0px;
    line-height: 28px;
    font-weight: 400;
    position: relative;
    text-align: left;
}


#dineqtychange #message p span.zero {
	color: #ffff67;
    font-size: 26px;
    line-height: 28px;
    margin-top: 15px;
}


#dineqtychange #message #quantity  {
    background: url(../images/quantity.png) center center no-repeat;
    width: 225px;
    height: 250px;
    margin: 0px 0px 0px 25px;
    float: left;
}

#dineqtychange #message #qty {
    margin: 95px 0px 0px 0px;
	font-size: 56px;
}
