#dinediet {
	background: #ffffff url(../images/bk_swedish_main.jpg) 0px 0px no-repeat;	
}


#dinediet #content {	
	background: url(../images/bk_hires_swedish_popup2_diet_and_instructions.png);
	text-align: center;
	font-size: 26px;
	line-height: 30px;
	margin: 0;	
	position: absolute;
	width: 100%;
	height: 100%;
	top: 30px;	
}



#dinediet #title   {
    width: 900px;
    height: 50px;
    margin: 150px auto auto 200px;    
    float: left;
    position: absolute;
}

 #dinediet #title p {
    width: 100%;
    color: #000000;
    margin-top: 10px;
    font-size: 32px;
    line-height: 32px;
    font-weight: 500;
    text-align: center;
}

#dinediet #buttons {
    width: 601px;
    height: 260px;
    margin: 600px auto auto 340px;
    display: inline-block;
    position: absolute;
    display: block;
}

#dinediet #buttons a {
	width: 575px;
    font-size: 30px;
	background: rgba(86,162,214,0.75);    
    color: #ffffff;
    border: none;
    margin-top: 10px;
    padding: 0px;
    float: left;
    line-height: 43px;
    font-weight: normal;
    padding-left: 25px;	
    margin-right: 0px;
    text-align: left;
    position: relative;
    display: block;

}

#dinediet #buttons a.next{
    width: 297px;
    margin-top: 35px;
    float: left;
	font-size: 26px;
    padding-left: 0px;
    text-align: center;

}

#dinediet #buttons a.back{
    width: 297px;
    margin-top: 35px;
    float: right;
	font-size: 26px;
    padding-left: 0px;
    text-align: center;
}

#dinediet #buttons a.active        {    
    background: #2a8c1d;
}

#dinediet  #message {
    width: 1060px;
    height: 370px;
    margin: 220px auto auto 110px;    
    float: left;
    position: absolute;
}

#dinediet  #message p   {
    width: 100%;
    color: #ffffff;
    font-size: 28px;
    line-height: 36px;
    margin-top: 5px;
    font-weight: normal;
    position: relative;
    text-align: left;
}

#dinediet  #message p.menu  {
    margin-top: 20px;
    color: #b1da92;
}

#dine div#step2 div#message p.description   {
    font-size: 28px;
    line-height: 36px;
    margin-top: 0px;
}


