#dineintro {
	background: #ffffff url(../images/bk_swedish_main.jpg) 0px 0px no-repeat;	
}


#dineintro #content {	
	background: url(../images/bk_hires_swedish_popup1_patientauthentication.png);
	text-align: center;
	font-size: 26px;
	line-height: 30px;
	margin: 0;	
	position: absolute;
	width: 100%;
	height: 100%;
	top: 30px;	
}

#dineintro #title   {
    width: 900px;
    height: 50px;
    margin: 150px auto auto 200px;    
    float: left;
    position: absolute;
}

 #dineintro #title p {
    width: 100%;
    color: #000000;
    margin-top: 10px;
    font-size: 32px;
    line-height: 32px;
    font-weight: 500;
    text-align: center;
}

#dineintro #buttons {
    width: 601px;
    height: 260px;
    margin: 325px auto auto 340px;
    display: inline-block;
    position: absolute;
    display: block;
}

#dineintro #buttons a {
	width: 575px;
    font-size: 30px;
	background: rgba(86,162,214,0.75);    
    color: #ffffff;
    border: none;
    margin-top: 10px;
    padding: 0px;
    float: left;
    line-height: 43px;
    font-weight: normal;
    padding-left: 25px;	
    margin-right: 0px;
    text-align: left;
    position: relative;
    display: block;

}

#dineintro #buttons a.back{
    width: 297px;
    margin-top: 35px;
    float: left;
	font-size: 26px;
    padding-left: 0px;
    text-align: center;

}

#dineintro #buttons a.mainmenu{
    width: 297px;
    margin-top: 35px;
    float: right;
	font-size: 26px;
    padding-left: 0px;
    text-align: center;
}

#dineintro #buttons a.active        {    
    background: #2a8c1d;
}

#dineintro #hello   {
    width: 600px;
    height: 100px;
    margin: 205px auto auto 340px;
    float: left;
    position: absolute;
}

#dineintro #hello p {
    width: 600px;
    height: 50px;
    color: #ffffff;
    font-size: 32px;
    margin-top: 0px;
    line-height: 50px;
    font-weight: 500;
    position: relative;
    text-align: center;
}

#dineintro #hello p.greeting    {
    font-size: 30px;
    margin-top: 10px;
	font-weight: normal;
}
