#dinevieworder  {
    background: url(../images/bk_swedish_dineorder.jpg) top center no-repeat;
	z-index: 700;
}

#dinevieworder  .page-title {
	left: 65px;
	top: 135px;
	width: 329px;
	height: 66px;
	z-index: 1;
	text-align: center;
	letter-spacing: 1px;
	color: #F0F4F5;
	line-height: 72px;
	background-size: cover;
	background-color: #56a2d6;
	border-top-left-radius: 220px 26px;
	border-top-right-radius: 220px 26px;
	font-weight: 500;

}

#dinevieworder  #header {
	width: 100%;
	height: 179px;
	position: absolute;
	background: url(../images/bk_secondary_gradient.png) top left no-repeat;
}

#dinevieworder  #header #heading1 {
	height: 100px;
	top: 75px;
	left: 436px;
	position: absolute;
	display: inline-block;
	float: left;
}

#dinevieworder  #header #heading1 p {
	color: #45466D;
}


#dinevieworder  #content {
    width: 1200px;
    height: 300px;
    margin: 220px 0px 0px 0px;
    display: inline-block;
    position: absolute;
    z-index: 802;
    display: block;
}

#dinevieworder  #content #heading {
    width: 1200px;
    height: 43px;
    margin: 0px 0px 0px 41px;
    display: inline-block;
    position: absolute;
    z-index: 802;
    display: block;
}

#dinevieworder  #content #heading p {
    width: 1240px;
    height: 43px;
    font-size: 24px;
    line-height: 43px;
    font-weight: 300;
    color: #ffffff;
    border: none;
    padding: 0px;
    float: left;
    position: relative;
    display: inline-block;
}

#dinevieworder  #content #heading p span  {
	color: #b1da92;
    width: 425px;
    position: relative;
    margin-right: 5px;
    margin-top: 5px;
    float: left;
    display: block;
	font-size: 24px;
}

#dinevieworder  #content #heading p span.nutrient {
    width: 110px; 
    font-size: 24px;
    text-align: right;
    margin-right: 0px;
}

#dinevieworder  #content #heading p span.calories {
    width: 85px; 
    font-size: 24px;
    text-align: right;
    margin-right: 0px;
}

#dinevieworder  #content #heading p span.price    {
    width: 100px; 
    color: #e9ef99;
    font-size: 24px;
    text-align: right;
    margin-right: 0px;
}

#dinevieworder .major {
    width: 1230px;
    height: 220px;
    margin: 40px 0px 0px 40px;
    position: absolute;
    z-index: 802;
	overflow-y: auto;    
	overflow-x: hidden;
}

#dinevieworder  .major a {
    width: 1230px;
    height: 35px;
    font-size: 24px;
    line-height: 43px;
    font-weight: 300;
    color: #ffffff;
    border: none;    
    padding: 0px;`
    float: left;
    position: relative;
    display: inline-block;
}
#dinevieworder  .major a span.active {	
	background: #2a8c1d;
	height: 36px;
	line-height: 40px;
}

#dinevieworder .major a span  {
    width: 385px;
    position: relative;
    margin-right: 5px;
    margin-top: 5px;
    float: left;
	line-height: 36px;
    display: block;
}

#dinevieworder .major a span.description  {
	font-size: 22px;
	height: 36px;	
	padding-left: 10px;
}

#dinevieworder .major a span.quantity {    
    width: 36px; 
    height: 36px;
    text-align: center;
	font-size: 22px;
	margin-right: 0px;
}

#dinevieworder .major a.selected span.description, 
#dinevieworder .major a.selected span.quantity {    
	background: #2a8c1d;
	height: 36px;
}

#dinevieworder .major a span.nutrient {
    width: 110px; 
    font-size: 22px;
    text-align: right;
    margin-right: 0px;
}

#dinevieworder .major a span.calories {
    width: 85px; 
    font-size: 22px;
    text-align: right;
    margin-right: 0px;
}

#dinevieworder .major a span.price    {
    width: 100px; 
    color: #e9ef99;
    font-size: 22px;
    text-align: right;
    margin-right: 0px;
	padding-right: 10px;
}


#dinevieworder #content #totals  {
    width: 1200px;
    height: 43px;
    margin: 275px 0px 0px 41px;
    display: inline-block;
    position: absolute;
    z-index: 802;
    display: block;
	border-top: 2px solid white;
}

#dinevieworder #content #totals p    {
    width: 1240px;
    height: 43px;
    font-size: 24px;
    line-height: 43px;
    font-weight: 300;
    color: #ffffff;
    border: none;
    padding: 0px;
    float: left;
    position: relative;
    display: inline-block;
	font-size: 24px;
}

#dinevieworder #content #totals p span   {
    width: 367px;
    position: relative;
    margin-left: 50px;
    margin-right: 21px;
    margin-top: 5px;
    float: left;
    display: block;
	font-size: 24px;
}

#dinevieworder #content #totals p span.nutrient  {
    width: 110px; 
    margin-left: 0px;
    font-size: 22px;
    text-align: right;
    margin-right: 0px;
}

#dinevieworder #content #totals p span.calories  {
    width: 85px; 
    margin-left: 0px;
    font-size: 22px;
    text-align: right;
    margin-right: 0px;
}

#dinevieworder #content #totals p span.price {
    width: 100px; 
    color: #e9ef99;
    margin-left: 0px;
    font-size: 22px;
    text-align: right;
    margin-right: -15px;
}

#dinevieworder #content #instruction   {
    width: 1240px;
    color: #b1da92;
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    margin-top: 315px;
    position: absolute;
    text-align: center;
    float: right;
    display: block;
}


#dinevieworder #buttons {
    width: 1200px;
    height: 260px;
    margin: 595px auto auto 200px;
    display: inline-block;
    position: absolute;
    display: block;
	text-align: center;
}

#dinevieworder #buttons a {
	width: 275px;    
	text-align: center;
	background: rgba(86,162,214,0.75);    
    color: #ffffff;
    border: none;
    margin-top: 10px;
    padding: 0px;
    float: left;
    line-height: 43px;
    font-weight: normal;    
    margin-right: 10px;    
    position: relative;
    display: block;

}

#dinevieworder #buttons a.active        {    
    background: #2a8c1d;
}


