#dineerror {
	background: #ffffff url(../images/bk_swedish_main.jpg) 0px 0px no-repeat;	
}


#dineerror #content {	
	background: url(../images/bk_hires_swedish_popup1_patientauthentication.png);
	text-align: center;
	font-size: 26px;
	line-height: 30px;
	margin: 0;	
	position: absolute;
	width: 100%;
	height: 100%;
	top: 30px;	
}


#dineerror #title   {
    width: 900px;
    height: 50px;
    margin: 150px auto auto 200px;    
    float: left;
    position: absolute;
}

 #dineerror #title p {
    width: 100%;
    color: #000000;
    margin-top: 10px;
    font-size: 32px;
    line-height: 32px;
    font-weight: 500;
    text-align: center;
}

#dineerror #buttons {
    width: 601px;
    height: 260px;
    margin: 325px auto auto 340px;
    display: inline-block;
    position: absolute;
    display: block;
}

#dineerror #buttons a {
	width: 575px;
    font-size: 30px;
	background: rgba(86,162,214,0.75);    
    color: #ffffff;
    border: none;
    margin-top: 10px;
    padding: 0px;
    float: left;
    line-height: 43px;
    font-weight: normal;
    padding-left: 25px;	
    margin-right: 0px;
    text-align: left;
    position: relative;
    display: block;

}

#dineerror #buttons a.close{
    width: 601px;
    margin-top: 200px;
    float: center;
	font-size: 26px;
    padding-left: 0px;
    text-align: center;

}

#dineerror #buttons a.active        {    
    background: #2a8c1d;
}

#dineerror #hello {
    width: 580px;
    margin: 220px 0px 0px 340px;
    padding: 25px 10px 25px 10px;
    float: left;
    position: absolute;
}

#dineerror #hello p   {
    width: 580px;
    color: #ffffff;
    font-size: 28px;
    line-height: 40px;
    font-weight: normal;
    position: relative;
    text-align: left;
}

