#dinesubmitted  {
    background: url(../images/bk_swedish_dineorder.jpg) top center no-repeat;
	z-index: 700;
}

#dinesubmitted  .page-title {
	left: 65px;
	top: 135px;
	width: 329px;
	height: 66px;
	z-index: 1;
	text-align: center;
	letter-spacing: 1px;
	color: #F0F4F5;
	line-height: 72px;
	background-size: cover;
	background-color: #56a2d6;
	border-top-left-radius: 220px 26px;
	border-top-right-radius: 220px 26px;
	font-weight: 500;

}

#dinesubmitted  #header {
	width: 100%;
	height: 179px;
	position: absolute;
	background: url(../images/bk_secondary_gradient.png) top left no-repeat;
}

#dinesubmitted  #header #heading1 {
	height: 100px;
	top: 75px;
	left: 436px;
	position: absolute;
	display: inline-block;
	float: left;
}

#dinesubmitted  #header #heading1 p {
	color: #45466D;
}


#dinesubmitted  #content {
    width: 1200px;
    height: 300px;
    margin: 220px 0px 0px 0px;
    display: inline-block;
    position: absolute;
    z-index: 802;
    display: block;
}

#dinesubmitted  #content #heading {
    width: 1200px;
    height: 43px;
    margin: 0px 0px 0px 41px;
    display: inline-block;
    position: absolute;
    z-index: 802;
    display: block;
}

#dinesubmitted  #content #heading p {
    width: 1240px;
    height: 43px;
    font-size: 24px;
    line-height: 43px;
    font-weight: 300;
    color: #ffffff;
    border: none;
    padding: 0px;
    float: left;
    position: relative;
    display: inline-block;
}

#dinesubmitted  #content #heading p span  {
	color: #b1da92;
    width: 425px;
    position: relative;
    margin-right: 5px;
    margin-top: 5px;
    float: left;
    display: block;
	font-size: 24px;
}


#dinesubmitted .major {
    width: 1230px;
    height: 205px;
    margin: 40px 0px 0px 41px;
    position: absolute;
    z-index: 802;
	overflow-y: auto;    
	overflow-x: hidden;
}

#dinesubmitted  .major a {
    width: 1240px;
    height: 43px;
    font-size: 24px;
    line-height: 43px;
    font-weight: 300;
    color: #ffffff;
    border: none;    
    padding: 0px;`
    float: left;
    position: relative;
    display: inline-block;
}
#dinesubmitted  .major a span.active {	
	background: #2a8c1d;
	height: 36px;
}

#dinesubmitted .major a span  {
    width: 385px;
    position: relative;
    margin-right: 5px;
    margin-top: 5px;
    float: left;
	line-height: 36px;
    display: block;
}


#dinesubmitted #message {
    width: 1060px;
    height: 370px;
    margin: 0px auto auto 110px;    
    float: center;
    position: absolute;
}

#dinesubmitted #message p   {
    width: 100%;
    color: #ffffff;
    font-size: 34px;
    line-height: 50px;
    margin-top: 5px;
    font-weight: normal;
    position: relative;
    text-align: center;
}

#dinesubmitted #message p span {
    font-size: 34px;
    line-height: 50px;
    margin-top: 5px;
}


#dinesubmitted #buttons {
    width: 1200px;
    height: 260px;
    margin: 595px auto auto 505px;
    display: inline-block;
    position: absolute;
    display: block;
	text-align: center;
	float: center;
}

#dinesubmitted #buttons a {
	width: 275px;    
	text-align: center;
	background: rgba(86,162,214,0.75);    
    color: #ffffff;
    border: none;
    margin-top: 10px;
    padding: 0px;    
    line-height: 43px;
    font-weight: normal;    
    margin-right: 10px;    
    position: relative;
    display: block;

}

#dinesubmitted #buttons a.active        {    
    background: #2a8c1d;
}


