.page.movies {
	width: 1280px;
	height: 720px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000000;
	background: #ffffff url(../images/bk_default2.jpg) 0px 175px no-repeat;	
}

.page.movies .page-title {
	left: 60px;
	top: 130px;
	width: 328px;
	height: 66px;
	z-index: 1;
	text-align: center;
	letter-spacing: 1px;
	color: #F0F4F5;
	line-height: 72px;
	/*background: url('../images/menubar_highlight.png') no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
	background-size: cover;
	background-color: #56a2d6;
	border-top-left-radius: 220px 26px;
	border-top-right-radius: 220px 26px;
	font-weight: normal;

}

.page.movies #header {
	width: 100%;
	height: 179px;
	position: absolute;
	background: url(../images/bk_secondary_gradient.png) top left no-repeat;
}

.page.movies #header #heading1 {
	height: 100px;
	top: 75px;
	left: 436px;
	position: absolute;
	display: inline-block;
	float: left;
}

.page.movies #header #heading1 p {
	color: #45466D;
}

.page.movies #header #heading2 {
	width: 330px;
	height: 56px;
	top: 196px;
	left: 53px;
	position: absolute;
	float: left;
	z-index: 1;
	border: 4px solid rgba(101,183,36,1.00);
	background: -webkit-linear-gradient(#356287, #113663);
	box-shadow: 1px 4px 8px 0px #353535;
	/*background-color: rgba(17,45,122,1.00);*/
}

.page.movies #header #heading2 p {
	color: #F8F9F9;
	text-align: center;
	font-size: 28px;
	padding-top: 14px;
	text-shadow: 2px 2px 12px #000000;
}

.page.movies #content {
	width: 100%;
	height: 540px;
	/*height: 588px;*/
	top: 178px;
	position: absolute;

}

.page.movies #menu {
	width: 100%;
	height: 100%;
}

.page.movies #menu .major {
	position: absolute;
	width: 328px;
	height: 442px;
	left: 58px;
	top: 85px;
	padding: 10px 0 0 0;
	/*background: #333230;
	box-shadow: 2px 2px 2px 0px #555;*/
	background-color: rgba(19,56,101, 0.50);
}

.page.movies #menu .major a {
	position: relative;
	display: block;
	height: 32px;
	margin: 0;
	padding: 10px 5px 5px 15px;
	text-align: left;
	font-size: 30px;
	font-weight: 400;
	letter-spacing: 1px;
}

.page.movies #menu .major a.back-button,
.page.secondary #menu .major a.back-button {
	/*  position: absolute;
	width: 292px;*/
	font-size: 26px;
	top: 0px;
	color: rgba(189,239,254,1.00);
	text-align: center;
	margin-bottom: 10px;
	background-color: rgba(18,56,100,1.00);
}

.page.movies #menu .major a.selected {
	background: #309b20;
}

.page.movies #menu .minor {
	position: absolute;
	width: 840px;
	height: 588px;
	top: 0px;
	left: 440px;
}

.page.movies #menu .minor .arrow-button {
	display: block;
	position: absolute;
	width: 60px;
	height: 60px;
	top: 500px;
	border-radius: 30px;
	margin: 0;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.2);
}

.page.movies #menu .minor .arrow-button.sub-page-prev {	
	left: -20px;
}

.page.movies #menu .minor .arrow-button.sub-page-next {
	right: 30px;
}

.page.movies #menu .minor .arrow-button:hover {
	opacity: 1;
	cursor: pointer;
}

.page.movies #menu .minor .arrow-left {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.page.movies #menu .minor .arrow-right {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -5px;
}

.page.movies #menu .minor .menu-tab {
	position: absolute;
	display: none;
	width: 800px;
}

.page.movies #menu .minor .sub-page {
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
}

.page.movies #menu .minor .sub-header {
	margin-top: 20px;
	height: 50px;
	color: #FFFF92;
}

.page.movies #menu .minor .sub-footer {
	position: relative;
	height: 50px;
	color: #C0DDA3;
	text-align: center;
	top: 0px;
	left: -20px;
	text-shadow: 2px 2px 6px #000000;
}

.page.movies #menu .minor .sub-content {
    margin-top: -20px;
	height: 470px;
    overflow: hidden;
    position: relative;
}

.page.movies #menu .minor .sub-content p {
	margin-bottom: 15px;
	line-height: 28pt;
}

.page.movies #menu .minor .sub-content .sub-image1 img
,.page.movies #menu .minor .sub-content .sub-image2 img {
	width: 100%;
	height: 100%;

}

/* Layout 1, text only */
.page.movies #menu .minor .sub-content.layout1 {
	
}

.page.movies #menu .minor .sub-content.layout1 .sub-text1{
	display: inline-block;
	width: 100%;
	padding-top: 40px;
}






img.rightarrow	{
	height: 50px;
	width: 50px;
	margin: 402px 0px 0px 740px;
	position: absolute;
}

img.leftarrow	{
	height: 50px;
	width: 50px;
	margin: 402px 0px 0px 0px;
	position: absolute;
}



/* movies.noimages */

#movies.noimages #background {
	display: none;
}

#movies.noimages #selection #carousel a img	{
	display: none;
}


.page.movies #menu .minor .sub-content.layout1 .sub-text2{
	display: inline-block;
	width: 100%;
	padding-top: 10px;
}

.page.movies #menu .minor .sub-content.layout1 .sub-image1{
	display: none;
}

.page.movies #menu .minor .sub-content.layout1 .sub-image2{
	display: none;
}

/* Layout 2, text and image side by side */
.page.movies #menu .minor .sub-content.layout2 {
	
}

.page.movies #menu .minor .sub-content.layout2 .sub-text1{
	display: inline-block;
	float: left;
	width: 520px;
	padding-top: 40px;
}

.page.movies #menu .minor .sub-content.layout2 .sub-text2{
	display: none;
}

.page.movies #menu .minor .sub-content.layout2 .sub-image1{
	display: inline-block;
	float: left;
	width: 246px;
	padding-top: 50px;
	padding-left: 10px;
}

.page.movies #menu .minor .sub-content.layout2 .sub-image2{
	display: none;
}

/* Layout 3, text and image aligns vertically */
.page.movies #menu .minor .sub-content.layout3 {
	
}

.page.movies #menu .minor .sub-content.layout3 .sub-text1{
	float: none;
	height: 210px;
	width: 720px;
	padding-top: 40px;
}

.page.movies #menu .minor .sub-content.layout3 .sub-text2{
	display: none;
}

.page.movies #menu .minor .sub-content.layout3 .sub-image1{
	float: none;
	height: 220px;
}

.page.movies #menu .minor .sub-content.layout3 .sub-image2{
	display: none;
}

/* Layout 4, text 1 on top, text 2 and image at bottom */
.page.movies #menu .minor .sub-content.layout4 {
	
}

.page.movies #menu .minor .sub-content.layout4 .sub-text1{
	display: block;
	float: none;
	height: 220px;
	padding-top: 40px;
}

.page.movies #menu .minor .sub-content.layout4 .sub-text2{
	float: left;
	width: 500px;
	height: 200px;
}

.page.movies #menu .minor .sub-content.layout4 .sub-image1{
	float: left;
	width: 240px;
	height: 200px;
}

.page.movies #menu .minor .sub-content.layout4 .sub-image2{
	display: none;
}

/* Layout 5, text overlays image */
.page.movies #menu .minor .sub-content.layout5 {
	
}

.page.movies #menu .minor .sub-content.layout5 .sub-text1{
	display: block;
	position: absolute;
	height: 225px;
	width: 760px;
	top: 50px;
	left: 10px;
	padding: 15px;
	z-index: 1;
	background: rgba(0,0,0,0);
}

.page.movies #menu .minor .sub-content.layout5 .sub-text2{
	display: none;
}

.page.movies #menu .minor .sub-content.layout5 .sub-image1{
	width: 100%;
	height: 100%;
}

.page.movies #menu .minor .sub-content.layout5 .sub-image2{
	display: none;
}


/* Layout 6, ONLY an image (map) */
.page.movies #menu .minor .sub-content.layout6 {
	
}

.page.movies #menu .minor .sub-content.layout6 .sub-text1{
	display: none;
}

.page.movies #menu .minor .sub-content.layout6 .sub-text2{
	display: none;
}

.page.movies #menu .minor .sub-content.layout6 .sub-image1{
	width: 100%;
	height: 100%;
}

.page.movies #menu .minor .sub-content.layout6 .sub-image2{
	display: none;
}



/* carousel */



.carousel {

	height: 467px;
	width: 845px;
	margin-left: -35px;
	margin-top: -40px;
	position: absolute;
	display: inline-block;

}


.carousel .carouselTitle {
	background: #309b20;
	height: 65px;
	width: 845px;
	position:absolute;	
	z-index: 500;
	display: block;
	overflow: hidden;    
}

.carousel .carouselTitle p {
	width: 100%;
	margin: 10px 0px 0px 0px;
	height: 38px; 
	font-weight: bold;
	font-size: 36px;
	color: white;
	text-align: center;
	overflow: hidden;    
}

.carousel .carouselOverlay {
	border: 25px solid #309b20;
	height: 345px;
	width: 245px;
	margin: 0px 0px 0px 30px;	
	display: none;
	position: absolute;
	z-index: 500;
}

.carousel .carouselPosters {
	height: 400px;
	width: 875px;
	margin: 45px 0px 0px 0px;
	position: absolute;
	z-index: 4;
	overflow: scroll;    
	overflow-x: hidden;	
}

.carousel .carouselPosters img {  	
	width: 33%;
	height: 1px;
	width: 1px;
	margin: 75px 0px 0px 0px;
	padding: 0px;
	float: left;
	position: relative;
	display: none;	
	padding: 25px, 25px, 25px, 25px; 

}

.carousel .carouselPosters img.active { 
	background: #309b20;
	height: 300px; 
	width: 210px; 	
	margin: 0px 0px 0px 0px; 
	display: block; 
	padding: 50px 30px 30px 30px;
}

.carousel .carouselPosters img.inactive{ 
	background: url(../images/mov_poster_BK1.png) top center no-repeat; 	
	height: 300px; 
	width: 210px; 	
	margin: 35px 15px 15px 15px; 
	display: block; 

	padding: 15px 15px 1px 15px;
}



.carousel .carouselPosters img.blank { 
	background: url(../images/mov_poster_BK0.png) top center no-repeat;








}





.carousel .carouselMessage {
	height: 40px;
	width: 800px;
	margin: 420px 0px 0px 0px;
	display: block;
}

.carousel .carouselMessage p {
	width: 100%;
	margin: 0px auto 0px auto;
	font-weight: normal;
	font-size: 30px;
	color: white;
	text-align: center;
}

/*****************************************************************************/
/* Screen resolution, default background */
body	{
	width: 1280px;
	height: 720px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: url(../images/bk_default-movies.jpg) top left no-repeat;
}

body.test {
	overflow: scroll;
}

/* Page size. Sometimes page is smaller than fullscreen with a permanent navigation bar on the left */
div.page {
	width: 1280px;
	height: 720px;
	margin: 0;
	padding: 0;
}

/*****************************************************************************/
/* logo */
div.logo, div.logo-large {
	background: url(../images/logo_large.png) top left no-repeat;
	width: 223px;
	height: 83px;
	display: block;
	float: left;
}

div.logo-small {
	background: url(../images/logo_small.png) top left no-repeat;
	width: 223px;
	height: 83px;
	display: block;
	float: left;
}

div.logo.topleft, div.logo-large.topleft {
	margin: 45px 0 0 525px;
}

div.logo-small.topleft {
	margin: 38px 0 0 580px;
}

div.page-title {
	position: absolute;
	font-size: 30px;
	font-weight: 600;
	display: block;
	text-align: center;
}

div.educ-downarrow {
	background: url(../images/arrow_down-ltblue.png) no-repeat;
	width: 32px;
	height: 32px;
	display: block;
	margin: 430px 0 0 480px;
	z-index: 1;
}

/*****************************************************************************/
/* Text */

/* Default text attributes white: #F0F4F5 
purple: #544c7d */
div, p, span, a {
	color: #F0F4F5;
	font-family: Arial, "Bitstream Vera Sans", sans-serif;
	font-weight: 500;
	font-size: 28px;
	font-style: normal;
}

/* Text colors */
div.text-color-2, p.text-color-2, span.text-color-2, a.text-color-2 {
	color: #FFFF92;
}

div.text-color-3, p.text-color-3, span.text-color-3, a.text-color-3 {
	color: #C0DDA3;
}

div.text-color-4, p.text-color-4, span.text-color-4, a.text-color-4 {
	color: #3084bc;
	font-size: 30px;
}

/* Text sizes */
div.text-xxsmall, p.text-xxsmall, span.text-xxsmall, a.text-xxsmall {
	font-size: 18px;
	font-weight: normal;
}

div.text-xsmall, p.text-xsmall, span.text-xsmall, a.text-xsmall {
	font-size: 20px;
	font-weight: normal;
}

div.text-small, p.text-small, span.text-small, a.text-small {
	font-size: 24px;
	font-weight: normal;
}

div.text-med, p.text-med, span.text-med, a.text-med {
	font-size: 32px;
	line-height: 46px;
	font-weight: 500;
	/*color: #FBFBFC;*/
	letter-spacing: 1px;
}
	
div.text-large, p.text-large, span.text-large, a.text-large {
	font-size: 36px;
	font-weight: 500;
	color: #3084BC;
	letter-spacing: 1px;
}

div.text-xlarge, p.text-xlarge, span.text-xlarge, a.text-xlarge {
	font-size: 38px;
	font-weight: bold;
}

div.text-xxlarge, p.text-xxlarge, span.text-xxlarge, a.text-xxlarge {
	font-size: 48px;
	font-weight: bold;
}

/* Text style overwrite */
div.text-bold, p.text-bold, span.text-bold, a.text-bold {
	font-weight: bold;
	font-style: normal;
}

div.text-regular, p.text-regular, span.text-regular, a.text-regular {
	font-weight: normal;
	font-style: normal;
}

div.text-italic, p.text-italic, span.text-italic, a.text-italic {
	font-weight: normal;
	font-style: italic;
}

/*****************************************************************************/
/* Buttons and links */
a {
	text-decoration: none;
	color: #F0F4F5;
}

a.active {
	background-color: rgba(48,155,32,1.00);
}

a.button {
	background-color: #155480;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 0px;
	padding-bottom: 5px;
	color: #ffffff;
}

a.button.active {
	background-color: #207a32;
}

a.button.color2 {
	background-color: #D54D00;
}

a.button.color3 {
	background-color: #01D0E2;
}

a.button-3:active, a.buttoncolor-3.active {
	background-color: #3399cc;
}

/* special shapes */

.arrow-left {
	display: inline-block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 20px 20px 20px 0;
	border-color: transparent #ffffff transparent transparent;
}

.arrow-right {
	display: inline-block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 20px 0 20px 20px;
	border-color: transparent transparent transparent #ffffff;
}
