.page.primary {
	width: 1280px;
	height: 720px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000000;
	background: #ffffff url(../images/bk_default2.jpg) 0px 175px no-repeat;	
}

.page.primary #header {
	width: 100%;
	height: 216px;
	position: absolute;
	background: url(../images/bk_primary_gradient.png) top left no-repeat;
}

.page.primary #header #patient {
	width: 510px;
	height: 100px;
	top: 108px;
	left: 74px;
	position: absolute;
	display: inline-block;
	float: left;
}

.page.primary #header #patient p {
	line-height: 32px;
	text-align: left;
	color: #04090E;
	font-weight: 400;
	width: 600px;
}
.page.primary #header #date {
	width: 457px;
	height: 34px;
	top: 175px;
	right: 80px;
	position: absolute;
	display: inline-block;
	float: left;
}

.page.primary #header #date p {
	line-height: 28px;
	text-align: right;
	color: #04090E;
}
.page.primary #content {
	width: 100%;
	height: 711px;
	top: 0px;
	position: absolute;
}

.page.primary #menu {
	width: 100%;
	height: 100%;
}

.page.primary #menu .slides {
	position: absolute;
	top: 286px;
	left: 66px;
	width: 1148px;
	height: 435px;
}

.page.primary #menu .slides .slide {
	width: 1148px;
	height: 491px;
	display: none;
}

.page.primary #menu .slides #menu1-slide {
	background: url('../images/img_main_dine.jpg') top left no-repeat;
}

.page.primary #menu .slides #menu2-slide {
	background: url('../images/img_main_learn.jpg') top left no-repeat;
}

.page.primary #menu .slides #menu3-slide {
	background: url('../images/img_main_visit.jpg') top left no-repeat;
}

.page.primary #menu .slides #menu4-slide {
	background: url('../images/img_main_watch.jpg') top left no-repeat;
}

.page.primary #menu .slides #menu5-slide {
	background: url('../images/img_main_relax.jpg') top left no-repeat;
}

.page.primary #menu .major {
	background: url('../images/menubar_slice.png') repeat-x;
	position: absolute;
	width: 100%;
	height: 69px;
	padding: 0;
	left: -2px;
	top: 216px;
}

.page.primary #menu .major a {
	position: absolute;
	height: 44px;
	margin: 0;
	padding: 17px 0 0 0;
	text-align: center;
	font-size: 30px;
	color: rgba(123,183,219,1.00);
	top: 4px;
	font-weight: 600;
	letter-spacing: 1px;
}

.page.primary #menu .major a.selected {
	font-size: 30px;
	background-repeat: no-repeat;
	background-position: center top no-repeat;
	background-color: #318BC8;
	/*background-image: url('../images/menubar_highlight.png');*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*height: 48px;*/
	margin-top: 0px;
	padding-top: 17px;
	color: rgba(240,244,245,1.00);

}

.page.primary #menu .major a#menu1 {
	left: 70px;
	width: 230px;	
}

.page.primary #menu .major a#menu2 {
	left: 294px;
	width: 235px;
}

.page.primary #menu .major a#menu3 {
	left: 510px;
	width: 235px;
}

.page.primary #menu .major a#menu4 {
	left: 725px;
	width: 235px;
}

.page.primary #menu .major a#menu5 {
	left: 980px;
	width: 240px;
}

.page.primary #menu .minor {
	position: absolute;
	width: 100%;
	height: 495px;
	top: 285px;

}

.page.primary #menu .minor .menu-group {
	position: absolute;
	border: 1px solid #32455E;
	/*background:  rgba(19,56,101,.9);*/
	background: rgba(43,61,83,.80);
	margin: 0;
	padding-top: 15px;
	padding-right: 0;
	padding-left: 0px;
	padding-bottom: 15px;
	display: none;

}

.page.primary #menu .minor #menu1-group {
	left: 66px;
	width: 230px;
}

.page.primary #menu .minor #menu2-group {
	left: 292px;
	width: 235px;
}

.page.primary #menu .minor #menu3-group {
	left: 508px;
	width: 235px;
}

.page.primary #menu .minor #menu4-group {
	left: 722px;
	width: 235px;
}

.page.primary #menu .minor #menu5-group {
	left: 978px;
	width: 240px;
}

.page.primary #menu .minor .menu-group a {
	display: block;
	padding: 5px 15px;
	line-height: 26pt;
	font-weight: 400;
	letter-spacing: 1px;
}

.primary #revision {
	position: absolute;
	left: 80px;
	bottom: 55px;
	font-size: 12px;
	color: #FFFFFF;
}
