.page.secondary {
	width: 1280px;
	height: 720px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000000;
	background: #ffffff url(../images/bk_default2.jpg) 0px 175px no-repeat;	
}

.page.secondary .page-title {
	left: 60px;
	top: 130px;
	width: 544px;
	height: 66px;
	z-index: 1;
	text-align: center;
	letter-spacing: 1px;
	color: #F0F4F5;
	line-height: 72px;
	/*background: url('../images/menubar_highlight.png') no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
	background-size: cover;
	background-color: #56a2d6;
	border-top-left-radius: 320px 36px;
	border-top-right-radius: 320px 36px;
	font-weight: 500;
}

.page.secondary #header {
	width: 100%;
	height: 179px;
	position: absolute;
	background: url(../images/bk_secondary_gradient.png) top left no-repeat;
}

.page.secondary #header #heading1 {
	height: 100px;
	top: 341px;
	left: 109px;
	position: absolute;
	display: inline-block;
	float: left;
	width: 456px;
	z-index: 2;
}

.page.secondary #header #heading1 p {
	color: #FFFFFF;
}

.page.secondary #header #heading2 {
	width: 546px;
	height: 56px;
	top: 196px;
	left: 53px;
	position: absolute;
	float: left;
	z-index: 2;
	border: 4px solid rgba(101,183,36,1.00);
	background: -webkit-linear-gradient(#356287, #113663);
	box-shadow: 1px 4px 8px 0px #353535;
	/*background-color: rgba(17,45,122,1.00);*/
}	

.page.secondary #header #heading2 p {
	color: #F0F4F5;
	text-align: center;
	font-size: 28px;
	padding-top: 14px;
}

.page.secondary #content {
	width: 100%;
	height: 540px;
	top: 178px;
	position: absolute;
	left: 1px;
}

.page.secondary #menu {
	width: 100%;
	height: 100%;
}

.page.secondary #menu .major {
	position: absolute;
	width: 544px;
	height: 442px;
	left: 58px;
	top: 85px;
	padding: 10px 0 0 0;
	/*background: #333230;
	box-shadow: 2px 2px 2px 0px #555;*/
	background-color: rgba(19,56,101, 0.50);
	/*z-index: -1;*/
	
}

.page.secondary #menu .major a {
	position: relative;
	display: block;
	height: 34px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-right: 5px;
	padding-left: 15px;
	padding-bottom: 5px;
	text-align: center;
	font-size: 26px;
	font-weight: 400;
	letter-spacing: 1px;
	color: rgba(189,239,254,1.00);
	background-color: rgba(18,56,100,1.00);
}
.page.secondary #menu .major a.back-button {
	/*  position: absolute;
	width: 292px;*/
	font-size: 26px;
	text-align: center;
	top: 0px;
	color: rgba(189,239,254,1.00);
	background-color: rgba(18,56,100,1.00);
	margin-bottom: 200px;
}
.page.secondary #menu .major a.selected {
	background: #309b20;
}

.page.secondary #menu .minor {
	position: absolute;
	width: 600px;
	height: 351px;
	top: 93px;
	left: 640px;
}

.page.secondary #menu .minor .arrow-button {
	display: block;
	position: absolute;
	width: 60px;
	height: 60px;
	top: 381px;
	border-radius: 30px;
	margin: 0;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.2);
}

.page.secondary #menu .minor .arrow-button.sub-page-prev {
	left: -19px;
}

.page.secondary #menu .minor .arrow-button.sub-page-next {
	right: 30px;
}

.page.secondary #menu .minor .arrow-button:hover {
	opacity: 1;
	cursor: pointer;
}

.page.secondary #menu .minor .arrow-left {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.page.secondary #menu .minor .arrow-right {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -5px;
}


.page.secondary #menu .minor .back-tab {
	position: absolute;
	display: none;
}

.page.secondary #menu .minor .back-tab img {
	width: 90%;
	height: 90%;
	margin: 40px 0px 0px 25px;
}

.page.secondary #menu .minor .menu-tab {
	position: absolute;
	display: none;
	width: 610px;
}

.page.secondary #menu .minor .sub-page {
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
}

.page.secondary #menu .minor .sub-header {
	margin-top: 0px;
	height: 30px;
	color: rgba(189,239,254,1.00);
	/*color: #FFFF92;*/
}

.page.secondary #menu .minor .sub-footer {
	position: relative;
	height: 50px;
	color: #C0DDA3;
	text-align: center;
	top: -60px;
	left: -20px;
	text-shadow: 2px 2px 6px #000000;

}

.page.secondary #menu .minor .sub-content {
    margin-top: 2px;
	height: 400px;
    overflow: hidden;
    position: relative;
}

.page.secondary #menu .minor .sub-content p {
	margin-bottom: 2px;
	line-height: 48px;
	padding-top: 2px;
	padding-bottom: 0px;
	padding-right: 30px;
}

.page.secondary #menu .minor .sub-content .sub-image1 img
,.page.secondary #menu .minor .sub-content .sub-image2 img {
	width: 100%;
	height: 100%;
}

/* Layout 1, text only */
.page.secondary #menu .minor .sub-content.layout1 {
	
}

.page.secondary #menu .minor .sub-content.layout1 .sub-text1{
	display: inline-block;
	width: 100%;
	padding-top: 20px;
}

.page.secondary #menu .minor .sub-content.layout1 .sub-text2{
	display: inline-block;
	width: 100%;
	padding-top: 10px;
}

.page.secondary #menu .minor .sub-content.layout1 .sub-image1{
	display: none;
}

.page.secondary #menu .minor .sub-content.layout1 .sub-image2{
	display: none;
}

/* Layout 2, text and image side by side */
.page.secondary #menu .minor .sub-content.layout2 {
	
}

.page.secondary #menu .minor .sub-content.layout2 .sub-text1{
	display: inline-block;
	float: left;
	width: 520px;
	padding-top: 20px;
	padding-right: 10px;
	z-index: 2;
}

.page.secondary #menu .minor .sub-content.layout2 .sub-text2{
	display: none;
}

.page.secondary #menu .minor .sub-content.layout2 .sub-image1{
	display: inline-block;
	float: right;
	width: 260px;
	padding-top: 5px;
	padding-left: 0px;
	z-index: 1;
	right: 1px;
}

.page.secondary #menu .minor .sub-content.layout2 .sub-image2{
	display: none;
}

/* Layout 2b, 2 text blocks side by side */
.page.secondary #menu .minor .sub-content.layout2b {
	
}

.page.secondary #menu .minor .sub-content.layout2b .sub-text1{
	display: inline-block;
	float: left;
	width: 620px;
	padding-top: 20px;
	padding-right: 10px;
	z-index: 2;
}

.page.secondary #menu .minor .sub-content.layout2b .sub-text2{
	display: inline-block;
	/*float: right;*/
	position: absolute;
	left: 400px;
	width: 360px;
	padding-top: 20px;
	padding-left: 0px;
	z-index: 1;
}

.page.secondary #menu .minor .sub-content.layout2b .sub-image1{
	display: none;
}

.page.secondary #menu .minor .sub-content.layout2b .sub-image2{
	display: none;
}

/* Layout 3, text and image aligns vertically */
.page.secondary #menu .minor .sub-content.layout3 {
	
}

.page.secondary #menu .minor .sub-content.layout3 .sub-text1{
	float: none;
	height: 210px;
	width: 720px;
	padding-top: 20px;
}

.page.secondary #menu .minor .sub-content.layout3 .sub-text2{
	display: none;
}

.page.secondary #menu .minor .sub-content.layout3 .sub-image1{
	float: none;
	height: 220px;
}

.page.secondary #menu .minor .sub-content.layout3 .sub-image2{
	display: none;
}


/* Layout 4, text 1 on top, text 2 and image at bottom */
.page.secondary #menu .minor .sub-content.layout4 {
	
}

.page.secondary #menu .minor .sub-content.layout4 .sub-text1{
	display: block;
	float: none;
	height: 220px;
	padding-top: 20px;
}

.page.secondary #menu .minor .sub-content.layout4 .sub-text2{
	float: left;
	width: 500px;
	height: 200px;
}

.page.secondary #menu .minor .sub-content.layout4 .sub-image1{
	float: left;
	width: 240px;
	height: 200px;
}

.page.secondary #menu .minor .sub-content.layout4 .sub-image2{
	display: none;
}

/* Layout 5, text overlays image */
.page.secondary #menu .minor .sub-content.layout5 {
	
}

.page.secondary #menu .minor .sub-content.layout5 .sub-text1{
	display: block;
	position: absolute;
	height: 225px;
	width: 760px;
	top: 20px;
	left: 10px;
	padding: 15px;
	z-index: 1;
	background: rgba(0,0,0,0);
}

.page.secondary #menu .minor .sub-content.layout5 .sub-text2{
	display: none;
}

.page.secondary #menu .minor .sub-content.layout5 .sub-image1{
	width: 100%;
	height: 100%;
}

.page.secondary #menu .minor .sub-content.layout5 .sub-image2{
	display: none;
}


/* Layout 6, ONLY an image (map) */
.page.secondary #menu .minor .sub-content.layout6 {
	
}

.page.secondary #menu .minor .sub-content.layout6 .sub-text1{
	display: none;
}

.page.secondary #menu .minor .sub-content.layout6 .sub-text2{
	display: none;
}

.page.secondary #menu .minor .sub-content.layout6 .sub-image1{
	width: 100%;
	height: 100%;
	padding-top: 20px;
}

.page.secondary #menu .minor .sub-content.layout6 .sub-image2{
	display: none;
}

/* Layout 7, EDUCATION LIBRARY */
.page.secondary #menu .minor .sub-content.layout7 {
	
}

.page.secondary #menu .minor .sub-content.layout7 .sub-text1{
	display: inline-block;
	width: 100%;
	padding-top: 20px;
	font-size: 32px;
}

.page.secondary #menu .minor .sub-content.layout7 .sub-text2{
	display: inline-block;
	width: 100%;
	padding-top: 10px;
}

.page.secondary #menu .minor .sub-content.layout7 .sub-image1{
	width: 32px;
	height: 32px;
	margin: -20px 0 0 0px;
}

.page.secondary #menu .minor .sub-content.layout7 .sub-image2{
	display: none;
}
